# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your Emory ID as a string below

In [44]:
# Write your answer here
print('2509241')

2509241

<font size = "5" >
This quiz is open book 

- You can use the lecture notes and the internet
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"


**By printing the message, you acknowledge that you will abide by Emory's code of conduct.**

In [1]:
# Write your answer here:
print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [4]:
# Write your answer here
import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Print the list with the unique values that are not numeric in the column "positionText"
- Replace the non-numerica values ("R" and "N") with ```np.nan``` (missing value) in the column "positionText"
- Create a new column "positionNumeric" that converts the modified "positionText" column from string to numeric using ```pd.to_numeric()```

HINT: See the example in Lecture 12

In [15]:
# Write your own code
subset = results.query("positionText.str.isnumeric() == False")
list_unique = pd.unique(subset["positionText"])
print(list_unique)

list_new = [np.nan, np.nan]
results["positionText"] = results["positionText"].replace(list_unique, list_new)
results["positionNumeric"] = pd.to_numeric(results["positionText"])
print(results["positionNumeric"])
results.dtypes

['R' 'N']
0       1.0
1       2.0
2       3.0
3       4.0
4       5.0
       ...
115    16.0
116    17.0
117    18.0
118    19.0
119     NaN
Name: positionNumeric, Length: 120, dtype: float64

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number               int64
grid                 int64
position            object
positionText        object
positionOrder        int64
points               int64
laps                 int64
time                object
milliseconds        object
fastestLap          object
fastestLapTime      object
statusId             int64
positionNumeric    float64
dtype: object

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" with the following categories

$\qquad$ ``` ["1950-1974","1975-1999","2000-onwards"] ```

- Display the new "year_brackets" variable

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 12 (check the note in the example!)

In [18]:
# Write your own code
races = pd.read_csv("data_raw/races.csv")
bins_x = [1950,1974,1999,3000]
labels_x = ["1960-1974", "1975-1999","2000-onwards"]
races["year_bracket"] = pd.cut(races["year"],
                              bins = bins_x,
                              right = True,
                              labels = labels_x)
print(races["year_bracket"])

0       2000-onwards
1       2000-onwards
2       2000-onwards
3       2000-onwards
4       2000-onwards
            ...
1097    2000-onwards
1098    2000-onwards
1099    2000-onwards
1100    2000-onwards
1101    2000-onwards
Name: year_bracket, Length: 1102, dtype: category
Categories (3, object): ['1960-1974' < '1975-1999' < '2000-onwards']

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Subset the observations for 'constructorId == 3' using ```.query()```
- Obtain the sum of "laps" by "driverId" using ``` .groupby().agg() ```
- Subset the drivers with a sum of laps $\ge 40$
- Store the results of all these operations in a dataframe ```sprint_results_agg ```
- Display the ```sprint_results_agg``` dataframe
- Provide a one-sentence explanation of the information in the ```sprint_results_agg ``` table

In [33]:
# Write your own code
sprint_results = pd.read_csv("data_raw/sprint_results.csv")
sprint_results_agg = (sprint_results.query("constructorId == 3")
                        .groupby("driverId")
                        .agg(sum_laps = ('laps','sum'))
                        .query("sum_laps >= 40"))
display(sprint_results_agg)

          sum_laps
driverId
847             59
848             56
849            127

The table shows the three drivers who has a constructorID of 3 and those who have a sum of greater than 40 for their total number of laps.

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Obtain the sum of "laps" by "driverId" using ``` .groupby().agg() ```
- Sort the teams in descending order using of the sum of laps using ``` .sort_values() ```
- Display your results

In [40]:
# Write your own code
sum_laps = (sprint_results.groupby("driverId")
                        .agg(sum1 = ('laps','sum')))
descending_laps = sum_laps.sort_values("sum1", ascending = False)
display(descending_laps)

          sum1
driverId
1          127
822        127
817        127
844        127
840        127
839        127
832        127
830        127
854        127
852        127
847        127
846        127
849        127
815        126
20         125
842        109
4          104
825         68
841         59
853         59
848         56
855         47
8           41
9           18

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Rename the column "points" to "points_sprint"
- Display the dataframe columns

HINT: Create a dictionary and use ```.rename(columns = ...)``` See Lecture 14

In [41]:
# Write your own code
name = {"points": "points_sprint"}

sprint_results = sprint_results.rename(columns=name)

print(sprint_results.columns)

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'number', 'grid',
       'position', 'positionText', 'positionOrder', 'points_sprint', 'laps',
       'time', 'milliseconds', 'fastestLap', 'fastestLapTime', 'statusId'],
      dtype='object')

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/sprint_results.csv" and "data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using "sprint_results" as the primary dataset (left), and "constructors" as the secondary dataset (right), merging on the column "constructorId"
- To get full points **ONLY** merge the "url" column from the secondary dataset (not all the columns)
- Display the resulting dataframe 


HINT: Use ```[[...]]``` to extract a subset of columns from the secondary dataset before merging, including the "constructorId" column

In [43]:
# Write your own code
constructors = pd.read_csv("data_raw/constructors.csv")
merged_dataset = pd.merge(sprint_results, constructors[['constructorId', 'url']], on='constructorId')
print(merged_dataset)

     resultId  raceId  driverId  constructorId  number  grid position  \
0           1    1061       830              9      33     2        1
1          20    1061       815              9      11     5       \N
2          22    1065       830              9      33     3        2
3          29    1065       815              9      11     9        9
4          42    1071       830              9      33     1        2
..        ...     ...       ...            ...     ...   ...      ...
115        70    1077       854            210      47    12       10
116        87    1084       825            210      20     6        7
117        89    1084       854            210      47     7        9
118       108    1095       825            210      20     1        8
119       112    1095       854            210      47    20       12

    positionText  positionOrder  points_sprint  laps       time milliseconds  \
0              1              1              3    17  25:38.426      1538426
1              R             20              0    16         \N           \N
2              2              2              2    18     +2.325      1676403
3              9              9              0    18    +31.680      1705758
4              2              2              2    24     +1.170      1750729
..           ...            ...            ...   ...        ...          ...
115           10             10              0    21    +33.773      1873340
116            7              7              2    23    +34.539      1624598
117            9              9              0    23    +37.163      1627222
118            8              8              1    24    +28.768      1840075
119           12             12              0    24    +41.159      1852466

    fastestLap fastestLapTime  statusId  \
0           14       1:30.013         1
1            6       1:31.465        76
2            9       1:23.502         1
3           12       1:24.211         1
4            9       1:12.114         1
..         ...            ...       ...
115         15       1:20.567         1
116          4       1:09.232         1
117          4       1:09.457         1
118          2       1:15.110         1
119          5       1:15.771         1

                                              url
0    http://en.wikipedia.org/wiki/Red_Bull_Racing
1    http://en.wikipedia.org/wiki/Red_Bull_Racing
2    http://en.wikipedia.org/wiki/Red_Bull_Racing
3    http://en.wikipedia.org/wiki/Red_Bull_Racing
4    http://en.wikipedia.org/wiki/Red_Bull_Racing
..                                            ...
115     http://en.wikipedia.org/wiki/Haas_F1_Team
116     http://en.wikipedia.org/wiki/Haas_F1_Team
117     http://en.wikipedia.org/wiki/Haas_F1_Team
118     http://en.wikipedia.org/wiki/Haas_F1_Team
119     http://en.wikipedia.org/wiki/Haas_F1_Team

[120 rows x 17 columns]