# Assignment 9

## Try to submit as an HTML file

<font size = "5">
Print your Emory ID below

In [2]:
# Write your answer here:
print('2509241')

2509241

<font size = "5">

Import the "pandas", "sqlalchemy" and "URL" libraries <br>
(See Lecture 19)

In [3]:
# Write your answer here:
import pandas as pd
from sqlalchemy import create_engine
from   sqlalchemy.engine import URL
from   sqlalchemy import text

<font size = "5">

Establish a connection to the SQL server and database ```formula1``` <br>
from Python as in Lecture 18 using <br>
```URL()``` and ```create_engine()```

In [4]:
# Write your own code
url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'formula1',
    username = 'postgres',
    port = 5433,
    password  = '12345')

connection = create_engine(url_server)

<font size = "5">

In this homework, you will repeat the exercises in <br>
Assignment 8, this time accessing SQL indirectly <br>
from Python

<font size = "3">

- For (a)-(e) read the section <br>
on "Escape Characters" carefully and how to write <br>
strings in multiple lines
- Remember that there is a special syntax for <br>
column names that have capital letters


<font size = "5">

(a) Import "lap_times.csv" and "drivers.csv"  

<font size = "3">

- Import the data using ```pd.read_csv()```
- Upload to the server using  ```.to_sql()```
- Upload the CSV files to the server, even if you already have the tables

In [7]:
# Write your own code
lap_times = pd.read_csv("data_raw/lap_times.csv")
drivers = pd.read_csv("data_raw/drivers.csv")
lap_times.to_sql('lap_times',
               con = connection,
               if_exists='replace',
               index=False)
drivers.to_sql('drivers',
               con = connection,
               if_exists='replace',
               index=False)

857

<font size = "5">

(b) Subset and sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Use ```WHERE``` to get a subset of "drivers" with 
```nationality = 'American'```
- Chain this with ```ORDER BY surname ASC``` to sort in <br>
ascending order

HINT: Use single quotes inside a string as in Lecture 20

In [10]:
# Write your own code

american = pd.read_sql(text("SELECT * \
                             FROM drivers \
                             WHERE nationality = 'American' \
                            ORDER BY surname ASC;"), connection)

<font size = "5">

(c) Count unique values

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Count the number of unique "driverId" using ```COUNT(DISTINCT ...)``` <br>
from the dataset "drivers"

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [16]:
# Write your own code
driver_num = pd.read_sql(text("SELECT COUNT(DISTINCT \"driverId\") \
                             FROM drivers;"), connection)

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Obtain the average of "milliseconds" by "driverId" using ```GROUP BY```
- User ```ORDER BY ``` to sort on the average of milliseconds

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [19]:
# Write your own code
milisec = pd.read_sql(text("SELECT AVG(milliseconds) as mean_milliseconds \
                             FROM lap_times \
                             GROUP BY \"driverId\" \
                            ORDER BY mean_milliseconds ASC;"), connection)

<font size = "5">

(e) Merge two tables

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Merge the tables "lap_times" (primary) and "drivers" (secondary) <br>
on "driverId" using ```LEFT JOIN``` on "driverId".

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [20]:
# Write your own code
merge = pd.read_sql(text("SELECT * \
                             FROM lap_times \
                             LEFT JOIN drivers \
                             ON lap_times.\"driverId\" = drivers.\"driverId\" ;"), connection)